<div class="nav-menu-wrapper">
	<nav class="nav-menu pop">
	<div class="navbar">
		<div class="selector">
			<div class="bar-icon-wrapper">
				<span class="bar-icon"></span>
				<span class="bar-icon"></span>
				<span class="bar-icon"></span>
			</div>
		</div>
		<div class="gotop">
			<i class="icon-arrow_carrot_right top"></i>
		</div>
	</div>
	<div class="pop-menu west">
		<ul>
			<div class="subtitle">
				&nbsp;&nbsp;MENU
			</div>
                {{#if @blog.navigation}}{{navigation}}{{/if}}
		</ul>
	</div>
	</nav>
	<div class="glass">
	</div>
</div>